@tailwind base;
@tailwind components;
@tailwind utilities;


main{
  width: clamp(250px, 100vw, 630px);
}
p{
  line-height: 1.8;
}
h1,h2{
  line-height: 1.2;
}
h3{
  line-height: 1.4;
}
h4,h5,h6{
  line-height: 1.6;
}
/* markdown用 */
#markdown {
  blockquote {
    padding: 10px;
    margin: 5px auto 10px;
    font-style: italic;
    color: #777777;
    background: #f3f3f3;
    border-left: 4px solid #a4d8ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  }
  thead {
    background: #ccc;
  }
  th,
  td {
    border: solid 1px #333;
    padding: 4px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h1,
  h2 {
    border-bottom: solid 1px #333;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }
  ul {
    margin-left: 1.33rem;
    list-style-type: disc;
    & > li > ul {
      list-style: circle;
    }
  }
  ol {
    margin-left: 1.33rem;
    list-style-type: decimal;
  }
  a{
    color: #3196e2;
  }
}
